*.xml linguist-detectable=false
*.txt linguist-detectable=false
*.toml linguist-detectable=false
*.timestamp linguist-detectable=false
*.pack linguist-detectable=false
*.o linguist-detectable=false
*.md linguist-detectable=false
